In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [16]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [18]:
# Opening the desired page on automated chrome browser

driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:

Rank = []        
try:
    rank = driver.find_elements(By.XPATH, '//td[@align="center"][1]')
    for i in rank[0:30]:
        ranks = i.text
        Rank.append(ranks)
except NoSuchElementException:
        Rank.append('-')

In [12]:
Name = []        
try:
    name = driver.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div/table/tbody/tr/td[2]')
    for i in name[1:31]:
        names = i.text
        Name.append(names)
except NoSuchElementException:
        Name.append('-')

In [24]:
Uploader = []        
try:
    uploader = driver.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div/table/tbody/tr/td[3]')
    for i in uploader[0:30]:
        uploaders = i.text
        Uploader.append(uploaders)
except NoSuchElementException:
        Uploader.append('-')

In [26]:
Up_Date = []        
try:
    date = driver.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div/table/tbody/tr/td[5]')
    for i in date[0:30]:
        dates = i.text
        Up_Date.append(dates)
except NoSuchElementException:
        Up_Date.append('-')

In [28]:
View = []        
try:
    view = driver.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div/table/tbody/tr/td[4]')
    for i in view[0:30]:
        views = i.text
        View.append(views)
except NoSuchElementException:
        View.append('-')

### Making DataFrame

In [30]:
df = pd.DataFrame({'Rank':Rank, 'Name':Name, 'Uploader':Uploader, 'Upload_Date':Up_Date, 'View':View})
df

,Rank,Name,Uploader,Upload_Date,View
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.14
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.69
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.97
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.86
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.26
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.89
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.77
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.32
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.87
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.86
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.78
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.77
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.56
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.50
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.44
23,24.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.42
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.42
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.42
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.37
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.37

2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time

In [66]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [67]:
# Opening the desired page on automated chrome browser

driver.get(' https://www.bcci.tv')

In [68]:
## Code for search button

search = driver.find_element(By.XPATH,"/html/body/nav/div[1]/button")

search.click()

In [69]:
## Code for international button

search = driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]")

search.click()

In [70]:
## Code for result button

search = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div/ul/li[2]")

search.click()

In [91]:
## Code for more results button

search = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div/div[4]/div/button")
search.click()

In [90]:
## Code for more results button

search = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div/div[4]/div/button")
search.click()

In [92]:
## Code for more results button

search = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div/div[4]/div/button")
search.click()

In [93]:
## Code for more results button

search = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div/div[4]/div/button")
search.click()

In [97]:
Title = []
Series = []
Place = []
Date = []
Time = []

In [98]:
# For Title
try:
    title = driver.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in title[0:40]:
        titles = i.text
        Title.append(titles)
except NoSuchElementException:
        Title.append('-')
Title =[i.replace("-"," ") for i in Title]           
        
#For Series
try:
    series = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
    for i in series[0:40]:
        seriess = i.text
        Series.append(seriess)
except NoSuchElementException:
        Series.append('-')       
        
        
        
        

#For Place       
try:
    place = driver.find_elements(By.XPATH, '//*[@id="match-card"]/div[3]//span[2]')
    for i in place[0:40]:
        places = i.text
        Place.append(places)
except NoSuchElementException:
        Place.append('-')  
        
        
        
        
#For Date       
try:
    date = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
    for i in date[0:40]:
        dates = i.text
        Date.append(dates)
except NoSuchElementException:
        Date.append('-')    
        
        
        
        
#For Time        
try:
    time = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
    for i in time[0:40]:
        times = i.text
        Time.append(times)
except NoSuchElementException:
        Time.append('-')

### Making DataFrame

In [99]:
df = pd.DataFrame({'Match_Title':Title, 'Series':Series, 'Place':Place, 'Date':Date, 'Time':Time})
df

,Match_Title,Series,Place,Date,Time
0,3rd ODI,AUSTRALIA TOUR OF INDIA 2023,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST
1,2nd ODI,AUSTRALIA TOUR OF INDIA 2023,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
2,1st ODI,AUSTRALIA TOUR OF INDIA 2023,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
3,4th Test,AUSTRALIA TOUR OF INDIA 2023,"Narendra Modi Stadium,",9 MAR 2023,9:30 AM IST
4,3rd Test,AUSTRALIA TOUR OF INDIA 2023,"Holkar Cricket Stadium,",1 MAR 2023,9:30 AM IST
5,Semi Final,ICC WOMENS T20 WORLD CUP 2023,"Newlands,",23 FEB 2023,6:30 PM IST
6,4th T20I,ICC WOMENS T20 WORLD CUP 2023,"St George's Park,",20 FEB 2023,6:30 PM IST
7,3rd T20I,ICC WOMENS T20 WORLD CUP 2023,"St George's Park,",18 FEB 2023,6:30 PM IST
8,2nd Test,AUSTRALIA TOUR OF INDIA 2023,"Arun Jaitley Stadium,",17 FEB 2023,9:30 AM IST
9,2nd T20I,ICC WOMENS T20 WORLD CUP 2023,"Newlands,",15 FEB 2023,6:30 PM IST
10,1st T20I,ICC WOMENS T20 WORLD CUP 2023,"Newlands,",12 FEB 2023,6:30 PM IST
11,1st Test,AUSTRALIA TOUR OF INDIA 2023,"Vidarbha Cricket Association Stadium,",9 FEB 2023,9:30 AM IST
12,Final,WOMENS T20I TRI-SERIES IN SOUTH AFRICA 2023,"Buffalo Park,",2 FEB 2023,3:00 PM IST
13,3rd T20I,NEW ZEALAND TOUR OF INDIA 2022-23,"Narendra Modi Stadium,",1 FEB 2023,7:00 PM IST
14,4th T20I,WOMENS T20I TRI-SERIES IN SOUTH AFRICA 2023,"Buffalo Park,",30 JAN 2023,3:00 PM IST
15,2nd T20I,NEW ZEALAND TOUR OF INDIA 2022-23,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,29 JAN 2023,7:00 PM IST
16,Final,ICC WOMENS U19 T20 WORLD CUP 2023,"JB Marks Oval,",29 JAN 2023,1:45 PM IST
17,3rd T20I,WOMENS T20I TRI-SERIES IN SOUTH AFRICA 2023,"Buffalo Park,",28 JAN 2023,7:00 PM IST
18,1st T20I,NEW ZEALAND TOUR OF INDIA 2022-23,"JSCA International Stadium Complex,",27 JAN 2023,7:00 PM IST
19,6th T20I,ICC WOMENS U19 T20 WORLD CUP 2023,"JB Marks Oval,",27 JAN 2023,10:00 AM IST
20,3rd ODI,NEW ZEALAND TOUR OF INDIA 2022-23,"Holkar Cricket Stadium,",24 JAN 2023,1:30 PM IST
21,2nd T20I,WOMENS T20I TRI-SERIES IN SOUTH AFRICA 2023,"Buffalo Park,",23 JAN 2023,7:00 PM IST
22,5th T20I,ICC WOMENS U19 T20 WORLD CUP 2023,"JB Marks Oval,",22 JAN 2023,1:45 PM IST
23,4th T20I,ICC WOMENS U19 T20 WORLD CUP 2023,"North-West University Oval,",21 JAN 2023,1:45 PM IST
24,2nd ODI,NEW ZEALAND TOUR OF INDIA 2022-23,Shaheed Veer Narayan Singh International Crick...,21 JAN 2023,1:30 PM IST
25,1st T20I,WOMENS T20I TRI-SERIES IN SOUTH AFRICA 2023,"Buffalo Park,",19 JAN 2023,7:00 PM IST
26,3rd T20I,ICC WOMENS U19 T20 WORLD CUP 2023,"Willowmoore Park B Field,",18 JAN 2023,1:45 PM IST
27,1st ODI,NEW ZEALAND TOUR OF INDIA 2022-23,"Rajiv Gandhi International Stadium,",18 JAN 2023,1:30 PM IST
28,2nd T20I,ICC WOMENS U19 T20 WORLD CUP 2023,"Willowmoore Park,",16 JAN 2023,10:00 AM IST
29,3rd ODI,SRI LANKA TOUR OF INDIA 2022-23,"Greenfield International Stadium,",15 JAN 2023,1:30 PM IST
30,1st T20I,ICC WOMENS U19 T20 WORLD CUP 2023,"Willowmoore Park B Field,",14 JAN 2023,1:45 PM IST
31,2nd ODI,SRI LANKA TOUR OF INDIA 2022-23,"Eden Gardens,",12 JAN 2023,1:30 PM IST
32,1st ODI,SRI LANKA TOUR OF INDIA 2022-23,"Barsapara Cricket Stadium,",10 JAN 2023,1:30 PM IST
33,3rd T20I,SRI LANKA TOUR OF INDIA 2022-23,"Saurashtra Cricket Association Stadium,",7 JAN 2023,7:00 PM IST
34,2nd T20I,SRI LANKA TOUR OF INDIA 2022-23,"Maharashtra Cricket Association Stadium,",5 JAN 2023,7:00 PM IST
35,6th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",4 JAN 2023,10:00 AM IST
36,1st T20I,SRI LANKA TOUR OF INDIA 2022-23,"Wankhede Stadium,",3 JAN 2023,7:00 PM IST
37,5th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",3 JAN 2023,10:00 AM IST
38,4th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",2 JAN 2023,1:45 PM IST
39,3rd T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground,",31 DEC 2022,10:00 AM IST

In [100]:
driver.close()

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [5]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [6]:
# Opening the desired page on automated chrome browser

driver.get(' http://statisticstimes.com')

In [32]:
## Code for economy button

search = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")

search.click()

In [33]:
## Code for INDIA button

search = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')

search.click()

In [34]:
## Code for gdp of indian states button

search = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')

search.click()

In [50]:
Rank = []
State = []
GSDP_18_19 = []
GSDP_19_20 = []
Share_18_19 = []
GDP = []

In [51]:
# For Rank
try:
    rank = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[1]')
    for i in rank[0:33]:
        ranks = i.text
        Rank.append(ranks)
except NoSuchElementException:
        Rank.append('-')
        
        
#For state
try:
    state = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[2]')
    for i in state[0:33]:
        states = i.text
        State.append(states)
except NoSuchElementException:
        State.append('-')       
        
        
        
        

#For GSDP_18_19 = []        
try:
    gsdp1 = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp1[0:33]:
        gsdp1s = i.text
        GSDP_18_19.append(gsdp1s)
except NoSuchElementException:
        GSDP_18_19.append('-')  
        
        
        
        
#For GSDP_19_20 = []        
try:
    gsdp2 = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp2[0:33]:
        gsdp2s = i.text
        GSDP_19_20.append(gsdp2s)
except NoSuchElementException:
        GSDP_19_20.append('-')    
        
        
        
        
#For Share_18_19 = []        
try:
    share1 = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[5]')
    for i in share1[0:33]:
        share1s = i.text
        Share_18_19.append(share1s)
except NoSuchElementException:
        Share_18_19.append('-')    
        
        
        
        
# For GDP = []        
try:
    gdp1 = driver.find_elements(By.XPATH, '//*[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp1[0:33]:
        gdp1s = i.text
        GDP.append(gdp1s)
except NoSuchElementException:
        GDP.append('-')

### Making DataFrame

In [53]:
df = pd.DataFrame({'Rank':Rank, 'State':State, 'GSDP_18_19':GSDP_18_19, 'GSDP_19_20':GSDP_19_20, 'Share_18_19':Share_18_19, 'GDP':GDP})
df

   Rank                      State GSDP_18_19 GSDP_19_20 Share_18_19      GDP
0     1                Maharashtra  2,632,792          -      13.94%  399.921
1     2                 Tamil Nadu  1,630,208  1,845,853       8.63%  247.629
2     3              Uttar Pradesh  1,584,764  1,687,818       8.39%  240.726
3     4                    Gujarat  1,502,899          -       7.96%  228.290
4     5                  Karnataka  1,493,127  1,631,977       7.91%  226.806
5     6                West Bengal  1,089,898  1,253,832       5.77%  165.556
6     7                  Rajasthan    942,586  1,020,989       4.99%  143.179
7     8             Andhra Pradesh    862,957    972,782       4.57%  131.083
8     9                  Telangana    861,031    969,604       4.56%  130.791
9    10             Madhya Pradesh    809,592    906,672       4.29%  122.977
10   11                     Kerala    781,653          -       4.14%  118.733
11   12                      Delhi    774,870    856,112       4.10%  117.703
12   13                    Haryana    734,163    831,610       3.89%  111.519
13   14                      Bihar    530,363    611,804       2.81%   80.562
14   15                     Punjab    526,376    574,760       2.79%   79.957
15   16                     Odisha    487,805    521,275       2.58%   74.098
16   17                      Assam    315,881          -       1.67%   47.982
17   18               Chhattisgarh    304,063    329,180       1.61%   46.187
18   19                  Jharkhand    297,204    328,598       1.57%   45.145
19   20                Uttarakhand    245,895          -       1.30%   37.351
20   21            Jammu & Kashmir    155,956          -       0.83%   23.690
21   22           Himachal Pradesh    153,845    165,472       0.81%   23.369
22   23                        Goa     73,170     80,449       0.39%   11.115
23   24                    Tripura     49,845     55,984       0.26%    7.571
24   25                 Chandigarh     42,114          -       0.22%    6.397
25   26                 Puducherry     34,433     38,253       0.18%    5.230
26   27                  Meghalaya     33,481     36,572       0.18%    5.086
27   28                     Sikkim     28,723     32,496       0.15%    4.363
28   29                    Manipur     27,870     31,790       0.15%    4.233
29   30                   Nagaland     27,283          -       0.14%    4.144
30   31          Arunachal Pradesh     24,603          -       0.13%    3.737
31   32                    Mizoram     22,287     26,503       0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -           -        -

In [54]:
driver.close()

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [60]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [61]:
# Opening the desired page on automated chrome browser

driver.get(' https://github.com')

In [63]:
## Code for option button

search = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span")

search.click()

In [64]:
## Code for open source button

search = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")

search.click()

In [65]:
## Code for trending button

search = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")

search.click()

In [92]:
Title = []
Descr = []
Count = []
Language = []

In [93]:
# For Title
try:
    title = driver.find_elements(By.XPATH, '//span[@class="text-normal"]')
    for i in title[0:22]:
        titles = i.text
        Title.append(titles)
except NoSuchElementException:
        Title.append('-')
Title =[i.replace("/"," ") for i in Title]

        
#For Descr
try:
    descr = driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in descr[0:22]:
        descrs = i.text
        Descr.append(descrs)
except NoSuchElementException:
        Descr.append('-')       
        
        
        
        

#For Count = []        
try:
    count = driver.find_elements(By.XPATH, '/html/body/div/div[4]/main/div/div/div/article/div/a[2]')
    for i in count[0:22]:
        counts = i.text
        Count.append(counts)
except NoSuchElementException:
        Count.append('-')  
        
        
        
        
#For Language = []        
try:
    lang = driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]')
    for i in lang[0:22]:
        langs = i.text
        Language.append(langs)
except NoSuchElementException:
        Language.append('-')

### Making DataFrame

In [95]:
df = pd.DataFrame({'Repository_Title':Title, 'Repository_Description':Descr, 'Contributers_Count':Count, 'Language_Used':Language})
df

,Repository_Title,Repository_Description,Contributers_Count,Language_Used
0,xtekky,"decentralising the Ai Industry, free gpt-4/3.5...",765,Python
1,mitsuhiko,an experimental alternative to poetry/pip/pipe...,58,Rust
2,sindresorhus,😎 Awesome lists about all kinds of interesting...,"25,476",Python
3,Josh-XT,An Artificial Intelligence Automation Platform...,97,TypeScript
4,whoiskatrin,AI tool to build charts based on text input,106,Python
5,Snaacky,Dark and Darker private server implementation ...,33,TypeScript
6,lvwzhen,⚖️ AI 法律助手,340,Python
7,GreyDGL,A GPT-empowered penetration testing tool,77,Python
8,BigBrotherTrade,交易模块,148,TypeScript
9,Dogtiti,"🤖 Assemble, configure, and deploy autonomous A...",240,Jupyter Notebook
10,Developer-Y,List of Computer Science courses with video le...,"7,833",TypeScript
11,roboflow,Examples and tutorials on using SOTA computer ...,258,JavaScript
12,gmpetrov,The no-code platform for connecting custom dat...,85,Python
13,GitSquared,"A cross-platform, customizable science fiction...","2,239",Python
14,suno-ai,🔊 Text-Prompted Generative Audio Model,926,CSS
15,xtekky,ChatGPT interface with better UI,160,TypeScript
16,l15y,闻达：一个LLM调用平台。为小模型外挂知识库查找和设计自动执行动作，实现不亚于于大模型的生成能力,237,Python
17,Eugeny,A terminal for a more modern age,"2,751",Ruby
18,isaiahbjork,The Open Source Ruby on Rails SaaS Template,9,JavaScript
19,bullet-train-co,A chat app that transcribes audio in real-time...,170,TypeScript
20,modal-labs,A collection of archived stuff from Twitter,17,Python
21,bethylamine,bloop is a fast code search engine written in ...,63,Python

5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [137]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [138]:
# Opening the desired page on automated chrome browser

driver.get('https://www.billboard.com')

In [109]:
## Code for option button

search = driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")

search.click()

In [110]:
## Code for charts button

search = driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")

search.click()

In [113]:
## Code for 100 songs button

search = driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]")

search.click()

In [133]:
Song = []
Artist = []
LW_Rank = []
Peak = []
Weak = []

In [134]:
# For Song
try:
    song = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]//h3')
    for i in song[0:100]:
        songs = i.text
        Song.append(songs)
except NoSuchElementException:
        Song.append('-')


        
#For Artist
try:
    artist = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
    for i in artist[0:100]:
        artists = i.text
        Artist.append(artists)
except NoSuchElementException:
        Artist.append('-')       
        
        
        
        

#For LW_Rank        
try:
    lw = driver.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li/ul/li[4]')
    for i in lw[0:100]:
        lws = i.text
        LW_Rank.append(lws)
except NoSuchElementException:
        LW_Rank.append('-')  
        
        
        
        
#For Peak        
try:
    peak = driver.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li/ul/li[5]')
    for i in peak[0:100]:
        peaks = i.text
        Peak.append(peaks)
except NoSuchElementException:
        Peak.append('-')    
        
        
        
        

#For Weak       
try:
    weak = driver.find_elements(By.XPATH, '//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li/ul/li[6]')
    for i in weak[0:100]:
        weaks = i.text
        Weak.append(weaks)
except NoSuchElementException:
        Weak.append('-')

### Making DataFrame

In [135]:
df = pd.DataFrame({'Song_Name':Song, 'Artist_Name':Artist, 'Last_Week_Rank':LW_Rank, 'Peak_Rank':Peak,'Weaks_On_Board':Weak})
df

,Song_Name,Artist_Name,Last_Week_Rank,Peak_Rank,Weaks_On_Board
0,Kill Bill,SZA,4,1,19
1,Last Night,Morgan Wallen,1,1,12
2,Flowers,Miley Cyrus,3,1,14
3,Princess Diana,Ice Spice & Nicki Minaj,-,4,1
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,10,5,5
...,...,...,...,...,...
95,Memory Lane,Old Dominion,96,96,3
96,Love Again,The Kid LAROI,88,40,12
97,'98 Braves,Morgan Wallen,100,27,7
98,Di Que Si,Grupo Marca Registrada X Grupo Frontera,-,99,1
99,It Matters To Her,Scotty McCreery,-,100,1

In [136]:
driver.close()

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [23]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [24]:
# Opening the desired page on automated chrome browser

driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [38]:
Name = []
Author = []
Volume = []
Publisher = []
Genre = []

In [39]:
# For Name
try:
    name = driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[2]')
    for i in name[0:100]:
        names = i.text
        Name.append(names)
except NoSuchElementException:
        Name.append('-')


        
#For Author
try:
    author = driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[3]')
    for i in author[0:100]:
        authors = i.text
        Author.append(authors)
except NoSuchElementException:
        Author.append('-')       
        
        
        
        

#For Volume        
try:
    volume = driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[4]')
    for i in volume[0:100]:
        volumes = i.text
        Volume.append(volumes)
except NoSuchElementException:
        Volume.append('-')  
        
        
        
        
#For Publisher        
try:
    publisher = driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[5] ')
    for i in publisher[0:100]:
        publishers = i.text
        Publisher.append(publishers)
except NoSuchElementException:
        Publisher.append('-')    
        
        
        
        

#For Genre       
try:
    genre = driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr/td[6]')
    for i in genre[0:100]:
        genres = i.text
        Genre.append(genres)
except NoSuchElementException:
        Genre.append('-')

### Making DataFrame

In [40]:
df = pd.DataFrame({'Book_Name':Name, ' Author_Name':Author, 'Volumes_Sold ':Volume, ' Publisher': Publisher, 'Genre':Genre})
df

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [41]:
driver.close()

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [42]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [43]:
# Opening the desired page on automated chrome browser

driver.get(' https://www.imdb.com/list/ls095964455')

In [58]:
Name = []
Year = []
Genre = []
Time = []
Rating = []
Vote = []

In [59]:
# For Name
try:
    name = driver.find_elements(By.XPATH, '//*[@id="main"]/div/div[3]/div[3]/div/div/h3/a')
    for i in name[0:100]:
        names = i.text
        Name.append(names)
except NoSuchElementException:
        Name.append('-')


        
#For Year
try:
    year = driver.find_elements(By.XPATH, '//span[@class="lister-item-year text-muted unbold"]')
    for i in year[0:100]:
        years = i.text
        Year.append(years)
except NoSuchElementException:
        Year.append('-')       
        
        
        
        

#For Time        
try:
    time = driver.find_elements(By.XPATH, '//span[@class="runtime"]')
    for i in time[0:100]:
        times = i.text
        Time.append(times)
except NoSuchElementException:
        Time.append('-')  
        
        
        
        
#For Rating        
try:
    rating = driver.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]')
    for i in rating[0:100]:
        ratings = i.text
        Rating.append(ratings)
except NoSuchElementException:
        Rating.append('-')    
        
        
        
        

#For Genre       
try:
    genre = driver.find_elements(By.XPATH, '//span[@class="genre"]')
    for i in genre[0:100]:
        genres = i.text
        Genre.append(genres)
except NoSuchElementException:
        Genre.append('-')    
        
        
        
        
    
#For Vote       
try:
    vote = driver.find_elements(By.XPATH, '//span[@name="nv"]')
    for i in vote[0:100]:
        votes = i.text
        Vote.append(votes)
except NoSuchElementException:
        Vote.append('-')

### Making DataFrame

In [60]:
df = pd.DataFrame({'Book_Name':Name, 'Year_Span':Year, ' Run_Time':Time, 'Ratings': Rating, 'Votes':Vote, 'Genre':Genre})
df

,Book_Name,Year_Span,Run_Time,Ratings,Votes,Genre
0,Game of Thrones,(2011–2019),57 min,9.2,"2,153,568","Action, Adventure, Drama"
1,Stranger Things,(2016–2024),51 min,8.7,"1,235,598","Drama, Fantasy, Horror"
2,The Walking Dead,(2010–2022),44 min,8.1,"1,023,014","Drama, Horror, Thriller"
3,13 Reasons Why,(2017–2020),60 min,7.5,"301,056","Drama, Mystery, Thriller"
4,The 100,(2014–2020),43 min,7.6,"259,994","Drama, Mystery, Sci-Fi"
...,...,...,...,...,...,...
95,Reign,(2013–2017),42 min,7.4,"51,397",Drama
96,A Series of Unfortunate Events,(2017–2019),50 min,7.8,"63,437","Adventure, Comedy, Drama"
97,Criminal Minds,(2005– ),42 min,8.1,"206,834","Crime, Drama, Mystery"
98,Scream: The TV Series,(2015–2019),45 min,7,"42,938","Comedy, Crime, Drama"
99,The Haunting of Hill House,(2018),572 min,8.6,"256,457","Drama, Horror, Mystery"

In [61]:
driver.close()

8. Details of Datasetsfrom UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [3]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [4]:
# Opening the desired page on automated chrome browser

driver.get(' https://archive.ics.uci.edu')

In [5]:
## Code for Show All Dataset button

search = driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]")

search.click()

In [28]:
DS_Name = []
D_Type = []
Task = []
Attri_Type = []
Instance = []
No_Of_Attri = []
Year = []

In [29]:
# For Dataset Name
try:
    name = driver.find_elements(By.XPATH, '*//body//table//tbody/tr/td/table/tbody/tr/td[1]/table/tbody/tr/td[2]/p')
    for i in name[0:622]:
        names = i.text
        DS_Name.append(names)
except NoSuchElementException:
        DS_Name.append('-')


        
#For Year
try:
    year = driver.find_elements(By.XPATH, '*//body/table/tbody/tr/td/table/tbody/tr/td[7]/p')
    for i in year[1:623]:
        years = i.text
        Year.append(years)
except NoSuchElementException:
        Year.append('-')       
        
        
        
        

#For D_Type        
try:
    dtype = driver.find_elements(By.XPATH, '*//body/table/tbody/tr/td/table/tbody/tr/td[2]/p')
    for i in dtype[2:624]:
        dtypes = i.text
        D_Type.append(dtypes)
except NoSuchElementException:
        D_Type.append('-')  
        
        
        
        
#For Task        
try:
    task = driver.find_elements(By.XPATH, '*//body/table/tbody/tr/td/table/tbody/tr/td[3]/p')
    for i in task[1:623]:
        tasks = i.text
        Task.append(tasks)
except NoSuchElementException:
        Task.append('-')    
        
        
        
        

#For Attri_Type       
try:
    attritype = driver.find_elements(By.XPATH, '*//body/table/tbody/tr/td/table/tbody/tr/td[4]/p')
    for i in attritype[1:623]:
        attritypes = i.text
        Attri_Type.append(attritypes)
except NoSuchElementException:
        Attri_Type.append('-')    
        
        
        
        
    
#For Instances       
try:
    instance = driver.find_elements(By.XPATH, '*//body/table/tbody/tr/td/table/tbody/tr/td[5]/p')
    for i in instance[1:624]:
        instances = i.text
        Instance.append(instances)
except NoSuchElementException:
        Instance.append('-')        
        
        
        
        
        
    
#For No_Of_Attri       
try:
    attrino = driver.find_elements(By.XPATH, '*//body/table/tbody/tr/td/table/tbody/tr/td[6]/p')
    for i in attrino[1:624]:
        attrinos = i.text
        No_Of_Attri.append(attrinos)
except NoSuchElementException:
        No_Of_Attri.append('-')

In [30]:
print(len(DS_Name),len(D_Type),len(Task),len(Attri_Type),len(Instance),len(No_Of_Attri),len(Year))

622 622 622 622 622 622 622

### Making DataFrame

In [32]:
df = pd.DataFrame({'DataSet_Name':DS_Name, 'Datatype':D_Type, 'Task':Task, 'Attribute_Type': Attri_Type, 'No_Of_Instances':Instance, 'No_Of_Attribute':No_Of_Attri, 'Year':Year})
df

,DataSet_Name,Datatype,Task,Attribute_Type,No_Of_Instances,No_Of_Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [33]:
driver.close()

9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location

In [8]:
## Connect to the driver

driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\Chromedriver.exe')

In [9]:
# Opening the desired page on automated chrome browser

driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [10]:
## Code for Recruiter button

search = driver.find_element(By.XPATH,"/html/body/div[1]/div/ul/li[2]/a/div")

search.click()

In [11]:
## Entering the job name

designation = driver.find_element(By.CLASS_NAME,"sugInp")

designation.send_keys('Data Science')

In [12]:
## Code for search button

search = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")

search.click()

In [26]:
Name = []
Designation = []
Company = []
Skill = []
Location = []

In [27]:
# For Name
try:
    name = driver.find_elements(By.XPATH, '//span[@class="fl ellipsis"]')
    for i in name[0:49]:
        names = i.text
        Name.append(names)
except NoSuchElementException:
        Name.append('-')


        
#For Designation
try:
    designation = driver.find_elements(By.XPATH, '//span[@class="ellipsis clr"]')
    for i in designation[0:49]:
        designations = i.text
        Designation.append(designations)
except NoSuchElementException:
        Designation.append('-')       
        
        
        
        

#For Company        
try:
    company = driver.find_elements(By.XPATH, '//*[@id="tabP-1"]/div/div/div/div/p/a[2]')
    for i in company[0:49]:
        companys = i.text
        Company.append(companys)
except NoSuchElementException:
        Company.append('-')  
        
        
        
        
#For Skill        
try:
    skill = driver.find_elements(By.XPATH, '//div[@class="hireSec highlightable"]')
    for i in skill[0:49]:
        skills = i.text
        Skill.append(skills)
except NoSuchElementException:
        Skill.append('-')    
        
        
        
        

#For Location       
try:
    location = driver.find_elements(By.XPATH, '//*[@id="tabP-1"]/div/div/div/div/p/span/small')
    for i in location[0:49]:
        locations = i.text
        Location.append(locations)
except NoSuchElementException:
        Location.append('-')

### Making DataFrame

In [29]:
df = pd.DataFrame({'Name':Name, 'Designation':Designation, 'Company':Company, 'Skill_They_Hire':Skill, 'Location':Location})
df

,Name,Designation,Company,Skill_They_Hire,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai